extends ../global/layout
block vars
  - var title = 'index | Backbone.Calendar'
  - var login = true
block links
  link(rel='stylesheet', href='/css/calendar.css')
block content
  .container
    p test me!